/* ------------------- Fonts ------------------- */
@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Light Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
  }
  
  /* ------------------- Base Styles ------------------- */
  body {
    background-color: #BAD3EE;
    font-family: "Circular", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* ------------------- HERO SECTION ------------------- */
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border-bottom: 1px solid black;
    gap: 3vh;
    overflow: hidden;
  
    background-image: url("../illustrations/croissant/illustrations_yellow_croissant.png");
    background-repeat: repeat;
    background-size: 15%;
  }

  .hero__tagline {
    color: #95261F;
    font-weight: 600;
    padding-top: 5vh;             
    text-align: center;
    font-size: 2vw;
    font-style: italic;
  }
  
  .hero__logo {
    padding-top: 25vh;
  }

  .hero__text {
    padding-top: 10vh;
  }

  .hero__text h2 {
    color: #95261F;
    font-weight: 500;          
    text-align: center;
    font-size: 2vw;
    font-style: normal;
  }

  .hero__text h3 {
    color: #95261F;
    font-weight: 100;            
    text-align: center;
    font-size: 2vw;
    font-style: normal;
  }

  .gallery-grid {
    padding: 5vh;
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 2vh;
    border-bottom: 1px solid #95261F;
  }
  .gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .gallery-grid h3 {
    color: #95261F;
    font-weight: 100;            
    text-align: center;
    font-size: 2vw;
    font-style: normal;
    align-self: end;
  }


  /* ------------------- FOOTER SECTION ------------------- */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0;
  width: 100vw;
  height: 30vh;
  background-color: #BAD3EE;
  background-image: url("../illustrations/croissant/illustrations_yellow_croissant.png");
  background-repeat: repeat;
  background-size: 25%;
  }
  
  .footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .footer__logo {
  max-width: 40%;
  height: auto;
  display: block;
  }
  
  .footer__link {
  color: #95261F;
  font-weight: 100;
  font-size: 1.6vw;
  line-height: 1.8;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #95261F;
  padding-bottom: 2px;
  }
  
  .footer__info {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  padding-right: 10vh;
  }
  
  .footer__column {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  }
  
  .footer__text {
  color: #95261F;
  font-weight: 100;
  font-size: 1.6vw;
  font-style: normal;
  margin: 0;
  margin-bottom: 6%;
  }

/* ------------------- MOBILE RESPONSIVENESS ------------------- */
@media (max-width: 768px) {
    .hero__text h2 {
        font-size: 4vw;
      }
    
      .hero__text h3 {
        font-size: 4vw;
      }
    
    .hero {
        background-size: 35%;
    }

    .gallery-grid h3 {
      font-size: 4vw;
    }


    .footer__link {
      font-size: 3vw;
    }
  
    .footer__text {
      font-size: 3vw;
    }
  
    .footer__info {
      padding-right: 4vh;
    }
  
    .footer {
      padding: 1vh 0;
      background-size: 45%;
    }
}